@import "~@angular/material/theming";

// #region :host and some component overwrite
:host {
  display: block;
  position: fixed;
  background: #fafafa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

mat-card {
  padding: 0;
}
// #endregion

// #region scss varible and extend
$blue: #536dfe;
$green: #b2ff59;
$orange: #ffab40;
$red: #ff5252;

%oneThird {
  header {
    padding: 0 16px;
    height: 48px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .title {
      margin: 0;
      font-weight: 500;
    }
  }
  section {
    height: 236px; //220px
    overflow-y: auto;
    box-sizing: border-box;
  }
}
%formGrayButton {
  button {
    position: absolute;
    right: -8px;
    bottom: -2px;
    color: gray;
    &:hover {
      color: inherit;
    }
  }
}
// #endregion

// #region component
.gridAreas {
  padding: 16px 32px 64px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  grid-template-areas:
    "headerArea headerArea headerArea"
    "customerInfoArea shippingArea historyArea"
    "itemsArea itemsArea itemsArea"
    "remarkArea confirmArea confirmArea";
}

.mainHeader {
  grid-area: headerArea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    margin: 0;
  }
  button {
    color: gray;
    &:hover {
      color: inherit;
    }
  }
}

.customerInfoArea {
  grid-area: customerInfoArea;
  @extend %oneThird;
  section {
    font-size: 14px;
    padding: 16px;
    .grid {
      display: grid;
      grid-template-columns: auto 40px;
      grid-gap: 0 8px;
      align-items: center;
      .mat-form-field {
        width: 100%;
      }
      button {
        transform: translate(8px, 0px);
      }
    }
    dl {
      display: grid;
      grid-auto-columns: 10px auto; 
      grid-gap: 6px 0;
      position: relative;
      @extend %formGrayButton;
    }
  }
}
.shippingArea {
  grid-area: shippingArea;
  @extend %oneThird;
  header {
    justify-content: space-between;
  }
  section {
    font-size: 14px;
    padding: 16px;
    dl {
      margin-top: 16px;
      display: grid;
      grid-template-columns: 80px auto;
      grid-gap: 6px 0;
      position: relative;
      @extend %formGrayButton;
    }
  }
}
.historyArea {
  grid-area: historyArea;
  @extend %oneThird;
  section {
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        &:last-child td {
          border-bottom: none;
        }
        td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          padding: 0px 16px;
          font-size: 14px;
          &:last-child {
            text-align: right;
          }
          &.noData {
            text-align: center;
            p {
              margin-top: 10px;
            }
          }
          mat-icon {
            color: gray;
            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }
}
.itemsArea {
  grid-area: itemsArea;
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .leftArea {
      padding: 8px 8px 8px 16px;
      display: flex;
      align-items: center;
      .title {
        margin: 0 0 0 10px;
      }
    }
    .rightArea {
      padding: 0px 16px 0px 8px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .option {
        align-self: center;
        margin-left: 16px;
        display: flex;
        width: 64px;
        height: 44px;
        flex: 0 0 64px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $orange;
        color: white;
        @include mat-elevation(2);
        cursor: pointer;
        span {
          font-size: 10px;
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }
  section.table {
    max-height: 50vh;
    overflow-y: auto;
    table {
      width: 100%;
      tr {
        height: auto;
        th {
          padding-top: 8px;
          padding-bottom: 8px;
        }
        td {
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 14px;
          &.input {
            padding-top: 2px;
            padding-bottom: 2px;
            input {
              height: 26px;
              text-align: center;
              width: 41px;
              border: 1px solid rgba(0, 0, 0, 0.12);
            }
          }
          [class^="status"] {
            padding: 4px 2px;
            display: inline;
          }
          .status-red {
            background: $red;
            color: white;
          }
          .status-blue {
            background: $blue;
            color: white;
          }
          .delete {
            color: gray;
            cursor: pointer;
            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }
  section.footer {
    display: flex;
    justify-content: flex-end;
    dl {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      line-height: 1.5;
      padding: 8px 32px;
      width: 200px;
      dt {
        flex: 0 0 50%;
        text-align: right;
      }
      dd {
        flex: 0 0 60%;
        flex: 0 0 50%;
        text-align: right;
      }
      .bold {
        font-weight: 700;
        font-size: 17px;
      }
    }
  }
}
.remarkArea {
  grid-area: remarkArea;
  padding: 16px 16px 0;
  * {
    width: 100%;
  }
}
.confirmArea {
  grid-area: confirmArea;
  display: flex;
  justify-content: flex-end;
  padding: 16px 32px;
  button {
    align-self: flex-end;
  }
}
// #endregion
