<p>scroll-dispatcher works!</p>



<!-- 
<div  (scroll)="asd()" style="overflow: auto; height:500px; width:200px; border:1px solid;">
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
    <div style="height: 20vh;">asd</div>
</div> -->


<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>
<div style="height: 20vh;">asd</div>